.close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .listNumber {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .border-low-priority {
    border-left: 5px solid blue;
  }

  .border-high-priority {
    border-left: 5px solid red;
  }


  