<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title> {{projects.title}}</mat-card-title>
        <mat-card-subtitle>Herding group</mat-card-subtitle>
        <button mat-icon-button class="close" (click)="deleteProjectR(projects.id)">
            <mat-icon>
                cancel
            </mat-icon>
        </button>
    </mat-card-header>
    <br><br>
    <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits" style="margin-left:10px; margin-bottom:10px">
            <mat-chip>{{getFirstLetterOfNameAndSurname(projects.user)}}</mat-chip>
                <button (click)="openDialog(projects)" mat-icon-button> <mat-chip> <mat-icon>
                    edit
                </mat-icon></mat-chip></button>
        </mat-chip-set>
        <button mat-icon-button class="user">
            {{num+1}}/{{totalLength}}
        </button>
    </mat-card-footer>
</mat-card>
<br>
<mat-divider></mat-divider>