<div class="container">
    <br><br><br>
    <ngx-skeleton-loader count="7" *ngIf="isLoading" appearance="line" animation="pulse"></ngx-skeleton-loader>
    <div class="row" *ngIf="!isLoading">

        <br><br>
        <div class="row">
            <div class="col-md-4">
                <h3>Nuovi</h3>

                <br><br>
                <div *ngFor="let i of newProjects">
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <mat-card-title> {{i.title}}</mat-card-title>
                            <mat-card-subtitle>Herding group</mat-card-subtitle>
                            <button mat-icon-button class="close" (click)="deleteProject(i.id)">
                                <mat-icon>
                                    cancel
                                </mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-footer class="example-card-footer">
                            <mat-chip-set aria-label="Chihuahua traits" style="margin-left:10px; margin-bottom:10px">
                                <mat-chip>JB</mat-chip>
                            </mat-chip-set>
                        </mat-card-footer>
                    </mat-card>
                    <br>
                </div>


            </div>
            <div class="col-md-4">
                <h3>ON PROGRESS</h3>
                <br><br>
                <div *ngFor="let i of onProgressProjects">
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <mat-card-title> {{i.title}}</mat-card-title>
                            <mat-card-subtitle>Herding group</mat-card-subtitle>
                            <button mat-icon-button class="close" (click)="deleteProject(i.id)">
                                <mat-icon>
                                    cancel
                                </mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-footer class="example-card-footer">
                            <mat-chip-set aria-label="Chihuahua traits" style="margin-left:10px; margin-bottom:10px">
                                <mat-chip>JB</mat-chip>
                            </mat-chip-set>
                        </mat-card-footer>

                    </mat-card>
                    <br>
                </div>

            </div>
            <div class="col-md-4 ">
                <h3>COMPLETATI</h3>
                <br><br>
                <div *ngFor="let i of completeProjects">
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <mat-card-title> {{i.title}}</mat-card-title>
                            <mat-card-subtitle>Herding group</mat-card-subtitle>
                            <button mat-icon-button class="close" (click)="deleteProject(i.id)">
                                <mat-icon>
                                    cancel
                                </mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-footer class="example-card-footer">
                            <mat-chip-set aria-label="Chihuahua traits" style="margin-left:10px; margin-bottom:10px">
                                <mat-chip>JB</mat-chip>
                            </mat-chip-set>
                        </mat-card-footer>
                    </mat-card>
                    <br>
                </div>
            </div>

        </div>

    </div>