<mat-dialog-content class="mat-typography">
    <h1>ADD NEW PROJECT</h1>
    <br>
    <form [formGroup]="newProject">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>TITLE</mat-label>
          <input matInput placeholder="Placeholder" id="title" formControlName="title" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>DESCRIPTION</mat-label>
          <input matInput placeholder="Placeholder" id="description" formControlName="description"
            matInput>
        </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>utente</mat-label>
            <input matInput placeholder="Placeholder" id="utente" formControlName="utente"
              matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>ADD PRIORITY</mat-label>
            <mat-select formControlName="priorita"   id="priorita" matInput>
              @for (stat of priorita; track stat) {
                <mat-option [value]="stat.value">{{stat.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Different locale</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="date"/>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close] (click)="addNewProject(newProject)">ADD PROJECT</button>
  </mat-dialog-actions>

