<mat-dialog-content class="mat-typography">
    <h1>ADD NEW PROJECT</h1>
    <br>
    <form [formGroup]="editProject">
      <div class="row">
        
        <mat-form-field appearance="outline">
          <mat-label>TITLE</mat-label>
          <input matInput placeholder="Placeholder" id="title" formControlName="title" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>DESCRIPTION</mat-label>
          <input matInput placeholder="Placeholder" id="description" formControlName="description"
            matInput>
        </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>UTENTE</mat-label>
            <input matInput placeholder="Placeholder" id="utente" formControlName="utente"
              matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>STATO</mat-label>
            <mat-select formControlName="stato"   id="stato" matInput>
              @for (stat of statusProject; track stat) {
                <mat-option [value]="stat.value">{{stat.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>PRIORITA</mat-label>
            <mat-select formControlName="priorita" id="priorita" matInput>
              @for (stat of priorita; track stat) {
                <mat-option [value]="stat.value">{{stat.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close] (click)="edit(editProject)">EDIT PROJECT</button>
  </mat-dialog-actions>
